* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1140px;
	margin: 0 auto;
	position: relative;
	/* для позициониррования картинки как абсолютное woman */
}

.promo {
	min-height: 800px;
	background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
	/* в скобках и кавычках */
	padding: 38px 0 60px 0;
}

.logo .logo_img {
	display: block;
	/* картинка строчный элемент, поэтому надо поменять на блочный */
	margin: 0 auto;
}

.logo .logo_text {
	margin-top: 9px;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	/* верхний регистр */
	color: #FFFFFF;
}

.title {
	text-align: center;
	font-weight: 900;
	font-size: 41px;
	text-transform: uppercase;
	color: #F9BF3B;
}

.simple .title_big {
	margin-top: 26px;
	font-weight: 900;
	font-size: 80px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}

h1 {
	margin-top: 47px;
}

h2.title {
	margin-top: 20px;
}

.promo .promo_text {
	padding: 0 13px;
	font-weight: 300;
	font-size: 21px;
	line-height: 28px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 22px;
}

.promo .promo_text span {
	font-weight: 700;
	font-size: 21px;
	line-height: 28px;
	color: #F9BF3B;
}

.promo .promo_btn {
	display: block;
	margin: 0 auto;
	margin-top: 72px;
	/* если поставить после маржин 0авто, то перебьет стиль */
	width: 313px;
	height: 72px;
	background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.4);
	/* тень, inset вовнутрь, первый ноль смещение по оси х, -5рх по оси у (вверх, если бы было без знака - , то тень падала бы вниз), следующий ноль это размытие */
	cursor: pointer;
	outline: none;
	/* никакой обводки при наведении курсора */
	font-weight: 400;
	font-size: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.promo .promo_btn:hover {
	background-image: none;
	background-color: #4bdd4e;
	transition: 0.3s all;
	/* время анимации */
}

.more {
	margin-top: 73px;
}

.more .more_text {
	text-align: center;
	font-weight: 100;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.more .more_img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.waiting {
	min-height: 604px;
	background-color: #efefef;
	padding: 85px 0 75px 0;
}

.waiting .waiting_header {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	color: #252525;
	text-align: center;
}

.waiting .waiting_devider {
	margin: 0 auto;
	margin-top: 18px;
	width: 220px;
	height: 7px;
	background: #F9BF3B;
}

.waiting .waiting_subheader {
	margin-top: 17px;
	text-align: center;
	font-weight: 400;
	font-size: 23px;
	color: #4A4A4A;
}

.waiting .waiting_wrapper {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
	width: 342px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
	width: 100%;
	/* ширина картинки 100% от родителя. для того, чтобы при изменении картинки на другую, блоки не сползали */
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
	margin-top: 26px;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	text-align: center;
	color: #4A4A4A;
}

.optimization {
	min-height: 548px;
	padding: 102px 0 107px 0;

}

.optimization .optimization_header {
	margin-left: 390px;
	/* от края колончатой верстки слева расстояние */
	font-weight: 900;
	font-size: 27px;
	text-transform: uppercase;
	color: #299CBD;
}

.optimization .optimization_text {
	margin-left: 390px;
	margin-top: 25px;
	font-weight: 300;
	font-size: 17px;
	line-height: 27px;
	color: #4A4A4A;
}

.optimization .optimization_text span {
	font-weight: 700;
}

.optimization .optimization_img {
	position: absolute;
	/*  а родитель .container position relative */
	top: -54px;
	right: 479px;
	z-index: -1;
}

.finish {
	min-height: 450px;
	background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
	padding: 86px 0 68px 0;
}

.finish .finish_header {
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #EFEFEF;
}

.finish .finish_devider {
	margin: 0 auto;
	margin-top: 18px;
	width: 220px;
	height: 7px;
	background: #F9BF3B;
}

.finish .finish_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 39px;
}

.finish .finish_wrapper .finish_item {
	width: 204px;
}

.finish .finish_wrapper .finish_item .round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* это свойство выравнивает круги по центру по отношению к тексту */
	width: 118px;
	height: 118px;
	background: #B4E2FF;
	border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_text {
	margin-top: 24px;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	color: #EFEFEF;
}

.gift {
	min-height: 631px;
	background-color: #efefef;
	padding: 88px 0 88px 0;
}

.gift .gift_img {
	display: block;
	margin: 0 auto;
}

.gift .gift_text {
	margin-top: 45px;
	font-weight: 400;
	font-size: 30px;
	line-height: 43px;
	text-align: center;
	color: #252525;
}

.gift .gift_btn {
	display: block;
	margin: 0 auto;
	margin-top: 75px;
	width: 313px;
	height: 72px;
	background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	outline: none;
}

.gift .gift_btn:hover {
	background-image: none;
	background-color: #11e880;
	transition: 0.5s all;
}

.first {
	min-height: 512px;
	padding: 87px 0 52px 0;
}

.first .first_img {
	display: block;
	margin: 0 auto;
}

.first .first_title {
	margin-top: 36px;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #252525;
}

.first .first_title_data {
	margin-top: 30px;
	font-weight: 900;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #299CBD;
}

.first .first_subtitle {
	margin-top: 25px;
	font-weight: 400;
	font-size: 23px;
	text-align: center;
	color: #4A4A4A;
}

.footer {
	min-height: 169px;
	background: #1A1A1A;
	padding: 57px 0 69px 0;
}

.footer .footer_nav {
	display: flex;
	justify-content: center;
}

.footer .footer_nav .footer_devider {
	margin-right: 10px;
	background: #888888;
	width: 2px;
	height: 20px;
}

.footer .footer_nav a {
	margin-right: 10px;
	font-weight: 300;
	font-size: 15px;
	text-align: center;
	text-decoration-line: underline;
	color: #888888;
}

.footer .footer_cal {
	display: block;
	margin: 0 auto;
	width: 250px;
	margin-top: 5px;
	text-align: center;
	font-weight: 300;
	font-size: 15px;
	text-decoration-line: underline;
	color: #f8f4f4;
}

.footer .footer_cal:hover {
	background: #786b59;
	/* Цвет фона под ссылкой */
	color: #ffe;
	/* Цвет ссылки */
}

.footer .footer_nav a:hover {

	background: #786b59;
	/* Цвет фона под ссылкой */
	color: #ffe;
	/* Цвет ссылки */
}